:root {
  --blackColor: #000;
  --whiteColor: #fff;
  --linkColor: #3483CC;
  --linkColorHover: #EB5757;
  --successColor: #33C127;
  --greyColor: #B3BAC0;
  --inputColor: rgba(0, 0, 0, 0.06);
  --errorColor: #FF0000;
  --headerBcgColor: #F0F1F2;
  --experienceColor: #333;
}