.userBox {
  &Info {
    &Residency {
      margin-bottom: 8px;
      cursor: pointer;
      display: inline-block;
      line-height: 25px;

      &:hover {
        background-color: var(--inputColor);
      }
      .inputBox {
        input {
          height: 24px;
        }
      }
    }
  }
}